:root {
  --font-poppins: "Poppins", sans-serif;
  --font-museo: "MuseoModerno", cursive;
  --font-dmsans: "DM Sans", sans-serif;
  --font-sourceCodePro: "Source Code Pro" ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.margin-auto {
  display: block;
  margin: auto;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-8 {
  margin-top: 8rem;
}

.margin-top-16 {
  margin-top: 16rem;
}

.max-width {
  max-width: 1200px;
  margin: auto;
}

.section-heading {
  font-size: 60px;
  font-family: var(--font-museo);
  font-weight: 300;
}
.section-heading span {
  color: #1DB954;
  padding-left: 8px;
}

.section-content {
  font-size: 24px;
  font-family: var(--font-poppins);
  font-weight: 400;
}

.border-nugget-gold {
  border: 6px solid #B9951D;
}

.background-white {
  background-color: #fff !important;
}

.background-primary-color {
  background-color: #1DB954 !important;
}

.active {
  background-color: #1DB954 !important;
  color: #fff !important;
}

@media (max-width: 480px) {
  .max-width {
    max-width: 480px;
    margin: auto;
  }
  .section-heading {
    font-size: 28px;
  }
}
.course-overview {
  background-color: #000;
  color: #fff;
  padding: 48px;
  border-radius: 24px;
  max-width: 540px;
  position: relative;
  font-family: var(--font-dmsans);
}
.course-overview .content-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.course-overview .icon-section {
  width: 120px;
  height: 120px;
  background-color: #1DB954;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 20px;
  transform: translate(-50%, -50%);
}
.course-overview .icon-section img {
  width: 60%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}
.course-overview .icon-planleaf {
  position: absolute;
  right: 0;
  top: 0;
}
.course-overview h4 {
  font-size: 24px;
  text-align: center;
}
.course-overview h4::after {
  content: "";
  display: block;
  width: 40%;
  border-bottom: 4px solid #1DB954;
  align-items: center;
  margin: auto;
  padding-top: 10px;
}
.course-overview p, .course-overview ul {
  font-size: 14px;
  font-weight: 400;
}
.course-overview .details {
  display: flex;
  gap: 24px;
}
.course-overview .details p {
  font-size: 16px;
  font-weight: 900;
}
.course-overview .detail-item {
  display: flex;
  flex: 1;
}
.course-overview .detail-item img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.course-overview .what-you-learn-list li {
  list-style: none;
}
.course-overview .what-you-learn-list li:not(:last-child) {
  margin-bottom: 16px;
}
.course-overview .what-you-learn-list li {
  display: flex;
  align-items: center;
  gap: 16px;
}
.course-overview .what-you-learn-list li img {
  width: 24px;
  height: 24px;
}
.course-overview .pre-request-list {
  padding-left: 12px;
}
.course-overview .join-btn {
  font-family: var(--font-museo);
  display: flex;
  align-items: center;
  padding: 12px 32px;
  border-radius: 100px;
  font-size: 16px;
  margin: auto;
}
.course-overview .join-btn img {
  margin-right: 4px;
}

.code-editor {
  flex: 1;
}
.code-editor .code-editor-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-museo);
  padding: 0 64px;
}
.code-editor .code-editor-header select {
  font-family: inherit;
  border-radius: 100px;
  padding: 4px 16px;
  font-size: 14px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.code-editor .code-editor-header button {
  font-family: var(--font-sourceCodePro);
  background-color: #1DB954;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  border-bottom: 4px solid #0D5326;
  font-size: 16px;
}
.code-editor .monaco-editor {
  box-shadow: 0 0 0 0 black;
}
.code-editor .monaco-editor .margin {
  border-right: 2px solid rgba(138, 138, 138, 0.25);
  padding-right: 5px;
}

.code-practise-left .code-practise-left-header {
  height: 60px;
  display: flex;
}
.code-practise-left .code-practise-left-header button {
  background: transparent;
  border: none;
  font-family: var(--font-dmsans);
  font-size: 16px;
  padding: 0 24px;
}
.code-practise-left .code-practise-left-header button:first-child {
  padding-left: 64px;
}
.code-practise-left .code-practise-left-header div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.code-practise-left .code-practise-left-header div .btn {
  background-color: #FFF8F3;
  font-size: 14px;
  padding: 6px 24px;
  border-radius: 4px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
}
.code-practise-left .code-practise-left-content {
  background-color: #fff;
  height: 100vh;
  padding-top: 64px;
  font-family: var(--font-dmsans);
}
.code-practise-left .code-practise-left-content-question {
  padding-bottom: 64px;
  padding-left: 64px;
  padding-right: 16px;
}
.code-practise-left .code-practise-left-content-question h4 {
  font-size: 24px;
  margin-bottom: 8px;
}
.code-practise-left .code-practise-left-content-question .question {
  font-size: 16px;
  font-weight: 300;
}
.code-practise-left .code-practise-left-content-example h5 {
  font-size: 20px;
  padding-left: 64px;
  margin-bottom: 8px;
}
.code-practise-left .code-practise-left-content-example .example {
  font-size: 16px;
  font-weight: 300;
  background-color: #FFF8F3;
  padding: 16px 16px 16px 64px;
}

.header {
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.header .header__text-box {
  position: relative;
}
.header .header__text-box h1 {
  font-size: 72px;
  font-family: var(--font-museo);
  font-weight: 300;
}
.header .header__text-box h1 span {
  color: #1DB954;
}
.header .header__text-box p {
  font-size: 24px;
  max-width: 600px;
  margin-top: 12px;
  margin-bottom: 28px;
  font-family: var(--font-poppins);
}
.header .header__text-box a {
  padding: 20px 32px;
  font-size: 16px;
  background-color: #F3F3F3;
  display: inline-block;
  border-radius: 64px;
  text-decoration: none;
  color: #000;
  box-shadow: 6px 6px 0 0 #B9951D;
  font-family: var(--font-dmsans);
  font-style: italic;
}
.header .header__text-box a span {
  margin-left: 8px;
}
.header .header__image-box {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.header .header__image-box .background-green-dots {
  position: absolute;
  width: 70%;
  right: 0;
  bottom: 10%;
  z-index: -1;
}
.header .header__image-box .background-brown-dots {
  position: absolute;
  z-index: -1;
  left: -20%;
  top: 10%;
  width: 70%;
}
.header .header__image-box .header-hero-img {
  height: 90%;
}

.navbar {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px;
  background-color: #FFF8F3;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
}
.navbar .community-button {
  font-family: var(--font-museo);
  font-size: 16px;
  position: absolute;
  background-color: inherit;
  bottom: -57px;
  right: 150px;
  padding: 12px 16px;
  z-index: 2;
  border-radius: 0 0 16px 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
}
.navbar .community-button img {
  width: 32px;
  height: 32px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}
.navbar .navbar-links {
  display: flex;
  font-size: 16px;
  list-style: none;
  font-family: var(--font-museo);
  font-weight: 500;
}
.navbar .navbar-links a {
  text-decoration: none;
  color: #000;
  padding: 24px 16px;
}
.navbar .navbar-links a:hover {
  color: #fff;
  padding: 24px 16px;
  background-color: #1DB954;
}

@media (max-width: 480px) {
  .navbar {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    width: 100%;
  }
  .navbar .navbar-links,
  .navbar .community-button {
    display: none;
  }
}
.ourValues {
  display: flex;
  gap: 3rem;
  position: relative;
}
.ourValues .our-value-bg-img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
.ourValues .bg-line {
  position: absolute;
  transform: translate(-33%, 103%) rotate(28deg);
  z-index: -1;
}

.why-us {
  position: relative;
}
.why-us .why-us-heading-container {
  margin-top: 300px;
  position: relative;
}
.why-us .why-us-heading-container h2 {
  margin-bottom: 48px;
}
.why-us .why-us-heading-container .why-us-image {
  position: absolute;
  right: 0;
  top: -412px;
  width: 500px;
}
.why-us .why-us-content-container {
  background-color: #E5F1FF;
  padding-top: 24px;
  padding-bottom: 24px;
}
.why-us .why-us-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 72px;
  gap: 48px;
}
.why-us .why-us-cards-container .why-us-card {
  width: 350px;
  text-align: center;
}
.why-us .why-us-cards-container .why-us-card p {
  font-size: 24px;
  color: #D9002F;
  font-family: var(--font-dmsans);
  margin-bottom: 24px;
}
.why-us .why-us-cards-container .why-us-card span {
  color: #000;
}
.why-us .why-us-cards-container img {
  height: 150px;
}
.why-us .bg-line {
  position: absolute;
  transform: translate(-17%, -21%) rotate(-28deg) scaleY(-1);
  z-index: -1;
}

.all-courses .all-courses-heading-container {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #E5F1FF;
  margin-top: 16rem;
}
.all-courses .all-courses-container {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: -80px;
}
.all-courses .all-courses-line {
  width: 2px;
  height: 300px;
  background: black;
  position: relative;
}
.all-courses .all-courses-line::before,
.all-courses .all-courses-line::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.all-courses .all-courses-line::before {
  bottom: 0;
}
.all-courses .all-courses-line::after {
  top: 0;
}
.all-courses .course-list-item {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.all-courses .course-item {
  background-color: #000;
  color: #fff;
  font-family: var(--font-museo);
  font-weight: 500;
  font-size: 18px;
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
}
.all-courses .course-item img {
  width: 45px;
  height: 45px;
}

.benefits-of-joining {
  margin-top: 120px;
}
.benefits-of-joining h2 {
  font-size: 32px;
  font-family: var(--font-dmsans);
  font-weight: 400;
}
.benefits-of-joining .img-container {
  background-color: #DFFFF4;
  height: 400px;
  margin-top: 150px;
}
.benefits-of-joining .img-container img {
  margin-top: -150px;
}
.benefits-of-joining .content-container {
  background-color: #E0ECE4;
  position: relative;
  padding: 120px 0;
  z-index: -1;
}
.benefits-of-joining .content-container img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.benefits-of-joining .content-container .content-items {
  font-family: var(--font-dmsans);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
}
.benefits-of-joining .content-container .content-items .content-item {
  max-width: 400px;
}
.benefits-of-joining .content-container .content-items .content-item h4 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 6px;
}
.benefits-of-joining .content-container .content-items .content-item p {
  font-size: 16px;
  font-weight: 300;
}

.footer {
  background-color: #000;
  color: #fff;
  padding-top: 32px;
}
.footer .footer-container {
  display: flex;
  justify-content: space-evenly;
}
.footer .footer-container .footer-content p {
  font-family: var(--font-dmsans);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
.footer .footer-container .footer-content ul {
  padding: 0;
  list-style: none;
}
.footer .footer-container .footer-content ul li {
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 4px;
}
.footer .copy-right {
  font-size: 18px;
  background-color: #E0ECE4;
  color: #000;
  font-style: italic;
  font-family: var(--font-dmsans);
  padding: 8px;
  margin-top: 32px;
  font-weight: 500;
}

.interview-questions {
  display: flex;
  height: calc(100vh - 322px);
}
.interview-questions-left-panel {
  width: 250px;
  background-color: #E5F1FF;
  font-family: var(--font-dmsans);
  padding: 32px 0;
}
.interview-questions-left-panel h3 {
  display: inline-block;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  font-weight: 500;
  margin-bottom: 16px;
  margin-left: 32px;
}
.interview-questions-left-panel ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.interview-questions-left-panel ul li {
  padding: 8px 40px;
  list-style: none;
}
.interview-questions-left-panel ul button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.interview-questions-left-panel ul button img {
  width: 24px;
  height: 24px;
}
.interview-questions-left-panel ul button span {
  font-weight: 500;
  font-size: 20px;
  font-family: var(--font-dmsans);
  color: inherit;
}
.interview-questions-right-panel {
  flex: 1;
  background-color: #fff;
  padding: 24px;
}
.interview-questions-right-panel h1 {
  font-size: 20px;
  font-family: var(--font-dmsans);
  font-weight: 500;
  color: #000;
  margin-bottom: 32px;
}
.interview-questions .active span {
  color: #fff;
}
.interview-questions-panel {
  font-family: var(--font-dmsans);
  color: #000;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 32px;
}
.interview-questions-panel h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}
.interview-questions-panel .question {
  font-size: 16px;
}

.quiz {
  display: flex;
  height: calc(100vh - 322px);
}
.quiz .quiz-left-panel {
  width: 250px;
  background-color: #E5F1FF;
  font-family: var(--font-dmsans);
  padding: 32px 0;
}
.quiz .quiz-left-panel .language-container {
  margin-bottom: 24px;
  margin-left: 24px;
}
.quiz .quiz-left-panel .language-container label {
  font-family: var(--font-dmsans);
  font-size: 20px;
  margin-right: 4px;
}
.quiz .quiz-left-panel h3 {
  display: inline-block;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  font-weight: 500;
  margin-bottom: 16px;
  margin-left: 40px;
}
.quiz .quiz-left-panel ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.quiz .quiz-left-panel ul li {
  padding: 8px 40px;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.quiz .quiz-left-panel ul button {
  background-color: transparent;
  border: none;
  font-weight: 300;
  font-size: 16px;
  font-family: var(--font-dmsans);
  color: #000;
}
.quiz .quiz-left-panel .active {
  border: 1px solid #1DB954;
}
.quiz .quiz-left-panel .active button {
  color: #fff;
  font-weight: 500;
}
.quiz .quiz-right-panel {
  overflow: scroll;
  flex: 1;
  background-color: #fff;
  padding: 24px;
}
.quiz .quiz-right-panel h1 {
  font-size: 20px;
  font-family: var(--font-dmsans);
  font-weight: 500;
  color: #000;
  margin-bottom: 32px;
}
.quiz .quiz-panel {
  font-family: var(--font-dmsans);
  color: #000;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  padding-top: 32px;
  margin-bottom: 16px;
}
.quiz .quiz-panel h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  padding-left: 32px;
}
.quiz .quiz-panel .question {
  font-size: 16px;
  margin-left: 48px;
  margin-bottom: 32px;
  padding-right: 16px;
}
.quiz .quiz-options {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
}
.quiz .quiz-options li {
  padding: 16px 16px 16px 64px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.quiz .quiz-options li span {
  font-size: 16px;
}
.quiz .quiz-options li input[type=checkbox] {
  width: 14px;
  height: 14px;
}
.quiz .correct {
  border: 1px solid #1DB954;
  border-radius: 4px;
  background-color: rgba(29, 185, 84, 0.2);
}
.quiz .wrong {
  border: 1px solid #F43F5E;
  border-radius: 4px;
  background-color: rgba(244, 63, 94, 0.2);
}
.quiz .explanation-container {
  background-color: #F1F1F1;
  padding: 16px;
}
.quiz .explanation-container .correct-answer {
  font-size: 20px;
  color: #51418C;
  font-style: italic;
  margin-bottom: 14px;
}
.quiz .explanation-container .explanation-text {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 14px;
}
.quiz .explanation-container .explanation-content {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 14px;
}
.quiz .explanation-container .topic-text {
  font-size: 20px;
  color: #51418C;
  font-style: italic;
  font-weight: 300;
}

.work-shops .work-shops-master {
  margin-top: 96px;
}
.work-shops .work-shops-master .work-shops-master-container {
  display: flex;
  flex-direction: row;
  background: linear-gradient(280deg, #F1EBE7 0.42%, #FAF4F0 100.97%);
  padding: 64px;
  border-radius: 12px;
  border: 2px solid #BE9200;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 32px;
}
.work-shops .work-shops-master .work-shops-master-container .work-shops-master-content-container {
  text-align: center;
}
.work-shops .work-shops-master .work-shops-master-container .work-shops-master-content-container .work-shops-master-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
  justify-content: center;
}
.work-shops .work-shops-master .work-shops-master-container .work-shops-master-content-container .work-shops-master-content p {
  padding: 26px;
  font-size: 16px;
  background: #FFF;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  font-family: var(--font-poppins);
  font-weight: 600;
  text-align: center;
  width: 400px;
}
.work-shops .work-shops-master .work-shops-master-container + p {
  font-size: 20px;
  text-align: center;
  font-family: var(--font-dmsans);
}
.work-shops .work-shops-master .work-shops-master-container + p span {
  color: red;
}
.work-shops .work-shops-who-can-learn {
  text-align: center;
  margin-top: 96px;
}
.work-shops .work-shops-who-can-learn .main-img {
  max-width: 1064px;
  margin-top: 32px;
}
.work-shops .work-shops-who-can-learn .join-now-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.work-shops .work-shops-who-can-learn .join-now-container p {
  font-size: 20px;
  background: #FFF;
  border-radius: 12px;
  font-family: var(--font-poppins);
  font-weight: 600;
  text-align: center;
}
.work-shops .work-shops-who-can-learn .join-now-container .logo-img {
  width: 200px;
}
.work-shops .work-shops-who-can-learn .join-now-container button {
  border-radius: 68px;
  border: 2px solid #1DB954;
  background: #000;
  color: #fff;
  display: flex;
  padding: 8px 32px;
  font-size: 24px;
  gap: 8px;
  align-items: center;
}
.work-shops .work-shops-why-learn {
  margin-top: 96px;
}
.work-shops .work-shops-why-learn h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-shops .work-shops-why-learn h2 img {
  width: 96px;
  margin-left: 16px;
}
.work-shops .work-shops-why-learn .work-shops-why-learn-faq-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}
.work-shops .work-shops-why-learn .work-shops-why-learn-faq-container .work-shops-why-learn-faq {
  background: #FFF8F3;
  padding: 16px 32px;
  border-radius: 4px;
  border-bottom: 2px solid #1DB954;
  width: 800px;
  margin: auto;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.45);
}
.work-shops .work-shops-why-learn .work-shops-why-learn-faq-container .work-shops-why-learn-faq h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  font-family: var(--font-dmsans);
}
.work-shops .work-shops-why-learn .work-shops-why-learn-faq-container .work-shops-why-learn-faq p {
  font-size: 18px;
  font-family: var(--font-dmsans);
}
.work-shops .work-shops-why-this-bootcamp {
  margin-top: 96px;
}
.work-shops .work-shops-why-this-bootcamp .work-shops-why-this-bootcamp-container {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.work-shops .work-shops-why-this-bootcamp .work-shops-why-this-bootcamp-container img {
  width: 470px;
}
.work-shops .work-shops-why-this-bootcamp .work-shops-why-this-bootcamp-container .work-shops-why-this-bootcamp-content-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.work-shops .work-shops-why-this-bootcamp .work-shops-why-this-bootcamp-container .work-shops-why-this-bootcamp-content-container .work-shops-why-this-bootcamp-content-panel {
  border-radius: 16px;
  border: 2px solid #B9951D;
  background: linear-gradient(180deg, #FFF8F3 0%, #FFF2E9 100%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 24px;
}
.work-shops .work-shops-why-this-bootcamp .work-shops-why-this-bootcamp-container .work-shops-why-this-bootcamp-content-container .work-shops-why-this-bootcamp-content-panel h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  font-family: var(--font-dmsans);
}
.work-shops .work-shops-why-this-bootcamp .work-shops-why-this-bootcamp-container .work-shops-why-this-bootcamp-content-container .work-shops-why-this-bootcamp-content-panel p {
  font-size: 18px;
  font-family: var(--font-dmsans);
}
.work-shops .work-shops-what-to-learn {
  margin-top: 96px;
  margin-bottom: 32px;
}
.work-shops .work-shops-what-to-learn h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-shops .work-shops-what-to-learn h2 img {
  width: 96px;
  margin-left: 16px;
}
.work-shops .work-shops-what-to-learn .work-shops-what-to-learn-container .work-shops-what-to-learn-days-container .work-shops-what-to-learn-days-panel {
  margin-bottom: 32px;
}
.work-shops .work-shops-what-to-learn .work-shops-what-to-learn-container .work-shops-what-to-learn-days-container .work-shops-what-to-learn-days-panel h3 {
  font-size: 24px;
  font-weight: 900;
  font-family: var(--font-dmsans);
  margin-bottom: 8px;
}
.work-shops .work-shops-what-to-learn .work-shops-what-to-learn-container .work-shops-what-to-learn-days-container .work-shops-what-to-learn-days-panel .container {
  border-radius: 15px;
  border: 2px solid #1DB954;
  background: linear-gradient(102deg, #FFF3EA 2.76%, #FFF8F2 98.66%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 24px;
}
.work-shops .work-shops-what-to-learn .work-shops-what-to-learn-container .work-shops-what-to-learn-days-container .work-shops-what-to-learn-days-panel .container h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  font-family: var(--font-dmsans);
  margin-bottom: 8px;
}
.work-shops .work-shops-what-to-learn .work-shops-what-to-learn-container .work-shops-what-to-learn-days-container .work-shops-what-to-learn-days-panel .container ul {
  font-size: 18px;
  font-family: var(--font-dmsans);
  padding-left: 32px;
}
.work-shops .work-shops-what-to-learn .work-shops-what-to-learn-container .work-shops-what-to-learn-days-container .work-shops-what-to-learn-days-panel .container ul li {
  margin-bottom: 6px;
}
.work-shops .work-shops-what-to-learn p {
  font-size: 20px;
  background: #FFF;
  border-radius: 12px;
  font-family: var(--font-poppins);
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
}
.work-shops .btn {
  border-radius: 68px;
  border: 4px solid #1DB954;
  background: #000;
  color: #fff;
  padding: 16px;
  width: 400px;
  font-size: 24px;
}
@media (max-width: 480px) {
  .work-shops .work-shops-master {
    margin-top: 24px;
  }
  .work-shops .work-shops-master .work-shops-master-container {
    flex-direction: column;
    background: none;
    padding: 16px;
    border: none;
    margin: 0;
  }
  .work-shops .work-shops-master .work-shops-master-container img {
    width: 150px;
  }
  .work-shops .work-shops-master .work-shops-master-container .work-shops-master-content-container .work-shops-master-content p {
    padding: 8px;
    font-size: 14px;
    width: 100%;
  }
  .work-shops .work-shops-master .work-shops-master-container + p {
    font-size: 16px;
  }
  .work-shops .work-shops-who-can-learn {
    margin-top: 24px;
  }
  .work-shops .work-shops-who-can-learn .main-img {
    max-width: 95%;
    margin-top: 16px;
  }
  .work-shops .work-shops-who-can-learn .join-now-container {
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 12px;
  }
  .work-shops .work-shops-who-can-learn .join-now-container p {
    font-size: 16px;
  }
  .work-shops .work-shops-who-can-learn .join-now-container .logo-img {
    width: 200px;
  }
  .work-shops .work-shops-who-can-learn .join-now-container button {
    font-size: 18px;
    gap: 8px;
  }
  .work-shops .work-shops-why-learn {
    margin-top: 24px;
    padding: 16px;
  }
  .work-shops .work-shops-why-learn h2 img {
    width: 64px;
  }
  .work-shops .work-shops-why-learn .work-shops-why-learn-faq-container {
    margin-top: 20px;
  }
  .work-shops .work-shops-why-learn .work-shops-why-learn-faq-container .work-shops-why-learn-faq {
    padding: 16px 24px;
    width: 100%;
  }
  .work-shops .work-shops-why-learn .work-shops-why-learn-faq-container .work-shops-why-learn-faq h4 {
    font-size: 18px;
  }
  .work-shops .work-shops-why-learn .work-shops-why-learn-faq-container .work-shops-why-learn-faq p {
    font-size: 14px;
  }
  .work-shops .work-shops-why-this-bootcamp {
    margin-top: 24px;
  }
  .work-shops .work-shops-why-this-bootcamp .work-shops-why-this-bootcamp-container {
    margin-top: 0;
    gap: 0;
    flex-direction: column;
  }
  .work-shops .work-shops-why-this-bootcamp .work-shops-why-this-bootcamp-container img {
    width: 75%;
  }
  .work-shops .work-shops-why-this-bootcamp .work-shops-why-this-bootcamp-container .work-shops-why-this-bootcamp-content-container {
    gap: 16px;
    padding: 16px;
  }
  .work-shops .work-shops-why-this-bootcamp .work-shops-why-this-bootcamp-container .work-shops-why-this-bootcamp-content-container .work-shops-why-this-bootcamp-content-panel {
    padding: 12px;
  }
  .work-shops .work-shops-why-this-bootcamp .work-shops-why-this-bootcamp-container .work-shops-why-this-bootcamp-content-container .work-shops-why-this-bootcamp-content-panel h4 {
    font-size: 18px;
  }
  .work-shops .work-shops-why-this-bootcamp .work-shops-why-this-bootcamp-container .work-shops-why-this-bootcamp-content-container .work-shops-why-this-bootcamp-content-panel p {
    font-size: 14px;
  }
  .work-shops .work-shops-what-to-learn {
    margin-top: 24px;
    padding: 16px;
    margin-bottom: 24px;
  }
  .work-shops .work-shops-what-to-learn h2 img {
    width: 64px;
  }
  .work-shops .work-shops-what-to-learn .work-shops-what-to-learn-container .work-shops-what-to-learn-days-container .work-shops-what-to-learn-days-panel {
    margin-bottom: 16px;
  }
  .work-shops .work-shops-what-to-learn .work-shops-what-to-learn-container .work-shops-what-to-learn-days-container .work-shops-what-to-learn-days-panel h3 {
    font-size: 20px;
  }
  .work-shops .work-shops-what-to-learn .work-shops-what-to-learn-container .work-shops-what-to-learn-days-container .work-shops-what-to-learn-days-panel .container {
    padding: 16px;
  }
  .work-shops .work-shops-what-to-learn .work-shops-what-to-learn-container .work-shops-what-to-learn-days-container .work-shops-what-to-learn-days-panel .container h4 {
    font-size: 18px;
  }
  .work-shops .work-shops-what-to-learn .work-shops-what-to-learn-container .work-shops-what-to-learn-days-container .work-shops-what-to-learn-days-panel .container ul {
    font-size: 16px;
    padding-left: 24px;
  }
  .work-shops .work-shops-what-to-learn p {
    font-size: 16px;
  }
  .work-shops .btn {
    border-radius: 68px;
    border: 4px solid #1DB954;
    background: #000;
    color: #fff;
    padding: 8px;
    width: 100%;
    font-size: 18px;
  }
}

.code-practise {
  background-color: #F2ECD6;
  height: calc(100vh - 72px) !important;
}
.code-practise .code-editor-output {
  font-family: var(--font-sourceCodePro);
  font-size: 20px;
  background-color: #1A1826;
  height: 100%;
  color: #fff;
  padding: 48px 0 0 48px;
}

.custom-resizer {
  width: 10px;
  position: relative;
}

.custom-resizer::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 36px;
  background-image: url("/images/code-editor-dots.png");
  bottom: 50%;
}

.custom-resizer::after {
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.custom-resizer-left-middle {
  position: relative;
}

.custom-resizer-left-middle::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 36px;
  background-image: url("/images/code-editor-dots.png");
  bottom: 50%;
}

.custom-resizer-left-middle::after {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) rotate(90deg) scale(0.6);
}

/*# sourceMappingURL=main.css.map */
