.course-overview {
  background-color: $color-black;
  color: $color-white;
  padding: 48px;
  border-radius: 24px;
  max-width: 540px;
  position: relative;
  font-family: $damsans;
  .content-section{
    display: flex;
    flex-direction: column;
    gap: 16px;


  }

  .icon-section {
    width: 120px;
    height: 120px;
    background-color: $color-primary;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 20px;
    transform: translate(-50%, -50%);

    img {
      width: 60%;
      filter: drop-shadow(0px 4px 4px rgba($color-black, 0.2));
    }
  }

  .icon-planleaf{
    position: absolute;
    right: 0;
    top: 0;
  }


  h4 {
    font-size: 24px;
    text-align: center;
  }

  h4::after {
    content: "";
    display: block;
    width: 40%;
    border-bottom: 4px solid $color-primary;
    align-items: center;
    margin: auto;
    padding-top: 10px;
  }

  p, ul {
    font-size: 14px;
    font-weight: 400;

  }

  .details {
    display: flex;
    gap: 24px;

  }

  .details p {
    font-size: 16px;
    font-weight: 900;
  }

  .detail-item {
    display: flex;
    flex: 1;

    img{
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }

  .what-you-learn-list {
    li {
      list-style: none;
    }

    li:not(:last-child) {
      margin-bottom: 16px;
    }


    li{
      display: flex;
      align-items: center;
      gap: 16px;
      img{
        width: 24px;
        height: 24px;
      }
    }

  }
.pre-request-list{
  padding-left: 12px;
}

.join-btn {
    font-family: $museo;
    display: flex;
    align-items: center;
    padding: 12px 32px;
    border-radius: 100px;
    font-size: 16px;
    margin: auto;

    img{
      margin-right: 4px;
    }

  }
}