.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.margin-auto {
  display: block;
  margin: auto;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-8 {
  margin-top: 8rem;
}

.margin-top-16 {
  margin-top: 16rem;
}

.max-width {
  max-width: 1200px;
  margin: auto;
}

.section-heading {
  font-size: 60px;
  font-family: $museo;
  font-weight: 300;

  span {
    color: $color-primary;
    padding-left: 8px;
  }
}

.section-content {
  font-size: 24px;
  font-family: $poppins;
  font-weight: 400;
}

.border-nugget-gold {
  border: 6px solid $color-nugget-gold;
}

.background-white {
  background-color: $color-white !important;
}

.background-primary-color {
  background-color: $color-primary !important;
}

.active {
  background-color: $color-primary !important;
  color: $color-white !important;
}

@media (max-width: 480px) {
  .max-width {
    max-width: 480px;
    margin: auto;
  }
  .section-heading {
    font-size: 28px;
  }


}