.interview-questions {
  display: flex;
  height: calc(100vh - (72px + 250px));

  &-left-panel {
    width: 250px;
    background-color: $color-brilliant-white;
    font-family: $damsans;
    padding: 32px 0;

    h3 {
      display: inline-block;
      font-size: 24px;
      color: rgba($color-black, 0.6);
      border-bottom: 2px solid rgba($color-black, 0.6);
      font-weight: 500;
      margin-bottom: 16px;
      margin-left: 32px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;

      li {
        padding: 8px 40px;
        list-style: none;

      }

      button {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        gap: 8px;

        img {
          width: 24px;
          height: 24px;
        }

        span {
          font-weight: 500;
          font-size: 20px;
          font-family: $damsans;
          color: inherit;
        }
      }
    }

  }

  &-right-panel {
    flex: 1;
    background-color: $color-white;
    padding: 24px;

    h1 {
      font-size: 20px;
      font-family: $damsans;
      font-weight: 500;
      color: $color-black;
      margin-bottom: 32px;
    }
  }

  .active span {
    color: $color-white;
  }

  &-panel {
    font-family: $damsans;
    color: $color-black;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 32px;

    h3 {
      font-size: 24px;

      font-weight: 500;
      margin-bottom: 24px;

    }

    .question {
      font-size: 16px;
    }
  }
}