.navbar {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px;
  background-color: $color-sugar-milk;
  box-shadow: 0 2px 4px 0 rgba(black, 0.2);
  position: relative;
  width: 100%;

  .community-button {
    font-family: $museo;
    font-size: 16px;
    position: absolute;
    background-color: inherit;
    bottom: -57px;
    right: 150px;
    padding: 12px 16px;
    z-index: 2;
    border-radius: 0 0 16px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    box-shadow: 0 2px 4px 0 rgba(black, 0.2);
    text-decoration: none;
    color: black;

    img {
      width: 32px;
      height: 32px;
      filter: drop-shadow(0px 4px 4px rgba($color-black, 0.2));
    }
  }

  .navbar-links {
    display: flex;
    font-size: 16px;
    list-style: none;
    font-family: $museo;
    font-weight: 500;


    a {
      text-decoration: none;
      color: $color-black;
      padding: 24px 16px;

    }

    a:hover {
      color: $color-white;
      padding: 24px 16px;
      background-color: $color-primary;
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    width: 100%;

    .navbar-links,
    .community-button {
      display: none;

    }


  }

}

