.ourValues {
  display: flex;
  gap: 3rem;
  position: relative;

  .our-value-bg-img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;

  }

  .bg-line {
    position: absolute;
    transform: translate(-33%, 103%) rotate(28deg);
    z-index: -1;
  }
}

