.quiz {
  display: flex;
  height: calc(100vh - (72px + 250px));


  .quiz-left-panel {
    width: 250px;
    background-color: $color-brilliant-white;
    font-family: $damsans;
    padding: 32px 0;

    .language-container {
      margin-bottom: 24px;
      margin-left: 24px;

      label {
        font-family: $damsans;
        font-size: 20px;
        margin-right: 4px;
      }

    }

    h3 {
      display: inline-block;
      font-size: 24px;
      color: rgba($color-black, 0.6);
      border-bottom: 2px solid rgba($color-black, 0.6);
      font-weight: 500;
      margin-bottom: 16px;
      margin-left: 40px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;

      li {
        padding: 8px 40px;
        list-style: none;
        border-bottom: 1px solid rgba($color-black, 0.6);

      }

      button {
        background-color: transparent;
        border: none;
        font-weight: 300;
        font-size: 16px;
        font-family: $damsans;
        color: $color-black;
      }
    }

    .active {
      border: 1px solid $color-primary;


    }

    .active button {
      color: $color-white;
      font-weight: 500;

    }
  }

  .quiz-right-panel {
    overflow: scroll;
    flex: 1;
    background-color: $color-white;
    padding: 24px;

    h1 {
      font-size: 20px;
      font-family: $damsans;
      font-weight: 500;
      color: $color-black;
      margin-bottom: 32px;
    }
  }

  .quiz-panel {
    font-family: $damsans;
    color: $color-black;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    padding-top: 32px;
    margin-bottom: 16px;

    h2 {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 16px;
      padding-left: 32px;
    }

    .question {
      font-size: 16px;
      margin-left: 48px;
      margin-bottom: 32px;
      padding-right: 16px;
    }

  }

  .quiz-options {

    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;


    li {
      padding: 16px 16px 16px 64px;
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        font-size: 16px;

      }

      input[type="checkbox"] {
        width: 14px;
        height: 14px;

      }
    }

  }

  .correct {
    border: 1px solid $color-primary;
    border-radius: 4px;
    background-color: rgba($color-primary, 0.2);
  }

  .wrong {
    border: 1px solid $color-rose;
    border-radius: 4px;
    background-color: rgba($color-rose, 0.2);
  }

  .explanation-container {
    background-color: $beluga;
    padding: 16px;

    .correct-answer {
      font-size: 20px;
      color: $moonlight-sonata;
      font-style: italic;
      margin-bottom: 14px;

    }

    .explanation-text {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 14px;
    }

    .explanation-content {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 14px;
    }

    .topic-text {
      font-size: 20px;
      color: $moonlight-sonata;
      font-style: italic;
      font-weight: 300;
    }
  }
}