.why-us {
  position: relative;

  .why-us-heading-container {
    margin-top: 300px;
    position: relative;

    h2 {
      margin-bottom: 48px;
    }

    .why-us-image {
      position: absolute;
      right: 0;
      top: -412px;
      width: 500px;
    }

  }


  .why-us-content-container {
    background-color: $color-brilliant-white;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .why-us-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 72px;
    gap: 48px;

    .why-us-card {
      width: 350px;
      text-align: center;

      p {
        font-size: 24px;
        color: $color-red-hot;
        font-family: $damsans;
        margin-bottom: 24px;
      }

      span {
        color: $color-black;
      }

    }

    img {
      height: 150px;
    }
  }

  .bg-line {
    position: absolute;
    transform: translate(-17%, -21%) rotate(-28deg) scaleY(-1);
    z-index: -1;
  }
}