.work-shops {

  .work-shops-master {
    margin-top: 96px;

    .work-shops-master-container {
      display: flex;
      flex-direction: row;
      background: linear-gradient(280deg, #F1EBE7 0.42%, #FAF4F0 100.97%);
      padding: 64px;
      border-radius: 12px;
      border: 2px solid #BE9200;
      align-items: center;
      justify-content: center;
      margin-bottom: 32px;
      margin-top: 32px;

      .work-shops-master-content-container {
        text-align: center;

        .work-shops-master-content {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 8px;
          margin-bottom: 16px;
          justify-content: center;

          p {
            padding: 26px;
            font-size: 16px;
            background: #FFF;
            border: 2px solid rgba(0, 0, 0, 0.20);
            border-radius: 12px;
            font-family: $poppins;
            font-weight: 600;
            text-align: center;
            width: 400px;
          }
        }
      }

      & + p {
        font-size: 20px;
        text-align: center;
        font-family: $damsans;

        span {
          color: red;
        }
      }
    }

  }


  .work-shops-who-can-learn {
    text-align: center;
    margin-top: 96px;

    .main-img {
      max-width: 1064px;

      margin-top: 32px;
    }

    .join-now-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      p {
        font-size: 20px;
        background: #FFF;
        border-radius: 12px;
        font-family: $poppins;
        font-weight: 600;
        text-align: center;
      }

      .logo-img {
        width: 200px;

      }

      button {
        border-radius: 68px;
        border: 2px solid #1DB954;
        background: $color-black;
        color: $color-white;
        display: flex;
        padding: 8px 32px;
        font-size: 24px;
        gap: 8px;
        align-items: center;
      }
    }
  }

  .work-shops-why-learn {
    margin-top: 96px;

    h2 {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 96px;
        margin-left: 16px;
      }
    }

    .work-shops-why-learn-faq-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 32px;

      .work-shops-why-learn-faq {

        background: #FFF8F3;
        padding: 16px 32px;
        border-radius: 4px;
        border-bottom: 2px solid #1DB954;
        width: 800px;
        margin: auto;
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.45);

        h4 {
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
          font-family: $damsans
        }

        p {
          font-size: 18px;
          font-family: $damsans
        }
      }

    }


  }


  .work-shops-why-this-bootcamp {
    margin-top: 96px;

    .work-shops-why-this-bootcamp-container {
      margin-top: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;

      img {
        width: 470px;
      }

      .work-shops-why-this-bootcamp-content-container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .work-shops-why-this-bootcamp-content-panel {
          border-radius: 16px;
          border: 2px solid #B9951D;
          background: linear-gradient(180deg, #FFF8F3 0%, #FFF2E9 100%);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          text-align: center;
          padding: 24px;


          h4 {
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            font-family: $damsans
          }

          p {
            font-size: 18px;
            font-family: $damsans
          }
        }
      }
    }
  }


  .work-shops-what-to-learn {
    margin-top: 96px;

    margin-bottom: 32px;

    h2 {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 96px;
        margin-left: 16px;
      }
    }

    .work-shops-what-to-learn-container {
      .work-shops-what-to-learn-days-container {

        .work-shops-what-to-learn-days-panel {
          margin-bottom: 32px;

          h3 {
            font-size: 24px;
            font-weight: 900;
            font-family: $damsans;
            margin-bottom: 8px;
          }

          .container {
            border-radius: 15px;
            border: 2px solid #1DB954;
            background: linear-gradient(102deg, #FFF3EA 2.76%, #FFF8F2 98.66%);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            padding: 24px;

            h4 {
              font-size: 20px;
              font-weight: 700;
              line-height: 32px;
              font-family: $damsans;
              margin-bottom: 8px;
            }

            ul {
              font-size: 18px;
              font-family: $damsans;
              padding-left: 32px;

              li {
                margin-bottom: 6px;
              }
            }

          }
        }

      }


    }

    p {
      font-size: 20px;
      background: #FFF;
      border-radius: 12px;
      font-family: $poppins;
      font-weight: 500;
      text-align: center;
      margin-bottom: 24px;

    }
  }

  .btn {
    border-radius: 68px;
    border: 4px solid #1DB954;
    background: $color-black;
    color: $color-white;
    padding: 16px;
    width: 400px;
    font-size: 24px;

  }

  @media (max-width: 480px) {

    .work-shops-master {
      margin-top: 24px;

      .work-shops-master-container {
        flex-direction: column;
        background: none;
        padding: 16px;
        border: none;
        margin: 0;

        img {
          width: 150px;
        }

        .work-shops-master-content-container {

          .work-shops-master-content {
            p {
              padding: 8px;
              font-size: 14px;
              width: 100%;
            }
          }
        }

        & + p {
          font-size: 16px;
        }
      }
    }

    .work-shops-who-can-learn {
      margin-top: 24px;

      .main-img {
        max-width: 95%;
        margin-top: 16px;
      }

      .join-now-container {
        gap: 8px;
        flex-wrap: wrap;
        margin-top: 12px;

        p {
          font-size: 16px;

        }

        .logo-img {
          width: 200px;

        }

        button {
          font-size: 18px;
          gap: 8px;
        }
      }
    }

    .work-shops-why-learn {
      margin-top: 24px;
      padding: 16px;

      h2 {

        img {
          width: 64px;
        }
      }

      .work-shops-why-learn-faq-container {
        margin-top: 20px;

        .work-shops-why-learn-faq {
          padding: 16px 24px;
          width: 100%;

          h4 {
            font-size: 18px;

          }

          p {
            font-size: 14px;

          }
        }
      }

    }


    .work-shops-why-this-bootcamp {
      margin-top: 24px;

      .work-shops-why-this-bootcamp-container {
        margin-top: 0;
        gap: 0;
        flex-direction: column;

        img {
          width: 75%;
        }

        .work-shops-why-this-bootcamp-content-container {
          gap: 16px;
          padding: 16px;

          .work-shops-why-this-bootcamp-content-panel {
            padding: 12px;

            h4 {
              font-size: 18px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }

    .work-shops-what-to-learn {
      margin-top: 24px;
      padding: 16px;
      margin-bottom: 24px;

      h2 {
        img {
          width: 64px;
        }
      }

      .work-shops-what-to-learn-container {
        .work-shops-what-to-learn-days-container {

          .work-shops-what-to-learn-days-panel {
            margin-bottom: 16px;

            h3 {
              font-size: 20px;
            }

            .container {
              padding: 16px;

              h4 {
                font-size: 18px;
              }

              ul {
                font-size: 16px;
                padding-left: 24px;
              }

            }
          }

        }


      }

      p {
        font-size: 16px;
      }
    }

    .btn {
      border-radius: 68px;
      border: 4px solid #1DB954;
      background: $color-black;
      color: $color-white;
      padding: 8px;
      width: 100%;
      font-size: 18px;

    }
  }
}

